* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(180deg, #020617, #020617);
  color: #e5e7eb;
  line-height: 1.6;
}

section {
  max-width: 1100px;
  margin: auto;
}

h2 {
  letter-spacing: 0.5px;
}
