.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
